<div class="container mt-4 mb-4">
  <h1 id="pageTitle">{{ 'REST_CALL.TITLE' | translate }}</h1>

  <p>{{ 'REST_CALL.INFORMATION' | translate }}</p>
  <ul>
    <li>{{ this.restService.SERVICE_URL_PRENAMES }}</li>
  </ul>
  <p>{{ 'REST_CALL.ENDPOINT_DESCRIPTION' | translate }}</p>

  <div id="resultTable">
    <div class="row">
      <div class="col-4 text-primary">{{ 'REST_CALL.TABLE.CITY' | translate }}</div>
      <div class="col-2 text-primary">{{ 'REST_CALL.TABLE.ZIP_CODE' | translate }}</div>
      <div class="col-4 text-primary">{{ 'REST_CALL.TABLE.PRENAME' | translate }}</div>
      <div class="col-2 text-primary">{{ 'REST_CALL.TABLE.NUMBER' | translate }}</div>
    </div>
    <div *ngIf="restService.prenamesLoading" class="row mt-3">
      <div class="col-5"></div>
      <div class="spinner-border" id="loadingSpinner"></div>
      <div class="col-5"></div>
    </div>
    <div class="row" *ngFor="let prename of sortedPrenames$ | async">
      <div class="col-4">{{ prename.ortbez18 }}</div>
      <div class="col-2">{{ prename.plz }}</div>
      <div class="col-4">{{ prename.vorname }}</div>
      <div class="col-2">{{ prename.anzahl }}</div>
    </div>
  </div>
  <div *ngIf="!restService.prenamesLoading && restService.prenameLoadingError" class="text-warning" id="loadingError">Loading error</div>
</div>
