<div class="container mt-4 mb-4">
  <span class="text-xl-left">ERNI Angular Starter Project</span>
  <p>
    The ERNI Angular Starter Project provides an angular project which is quick to set up and contains some additional functionality.
    Get more information in the README.md
  </p>
  <p>Besides this start page, there is also a second page which loads and displays some date from a REST endpoint:</p>
  <ul>
    <li><a routerLink="/welcome" routerLinkActive="active">Welcome-Page</a></li>
    <li><a routerLink="/rest" routerLinkActive="active">Rest-Call-Page</a></li>
  </ul>

  <p>
    To show how a translation pipeline could be added, this page can be displayed in both English and German.
    The language can be changed in the header.
  </p>
</div>
