<div class="container mt-4 mb-4">
  <h1 id="welcomePageTitle">{{ 'WELCOME.TITLE' | translate }}</h1>
  <p>{{ 'WELCOME.INFORMATION' | translate }}</p>
  <p>{{ 'WELCOME.LINK_DESCRIPTION' | translate }}</p>
  <ul>
    <li>
      <a routerLink="/welcome" routerLinkActive="active">{{ 'WELCOME.LINK.WELCOME' | translate }}</a>
    </li>
    <li>
      <a routerLink="/rest" routerLinkActive="active" id="linkToRestCallPage">{{ 'WELCOME.LINK.REST' | translate }}</a>
    </li>
  </ul>

  <p>{{ 'WELCOME.DESCRIPTION_TRANSLATION' | translate }}</p>
</div>
