/* You can add global styles to this file, and also import other style files */
$color-erni-blue: #033778;
$color-erni-light-blue: #ddeaee;
$color-white: #ffffff;

body {
  font-family: "Source Sans Pro", sans-serif;
  color: $color-white;
  background-color: $color-erni-blue;
}
